{{! foot版权信息 }}
<footer class="page-footer b-green">
    <div class="footer-copyright b-black">
        <div class="container center-align">
            本站由&copy;<a href="http://blinkfox.com" target="_blank">Blinkfox</a>基于
            <a href="http://ghost.org/" target="_blank">Ghost</a> 采用ghost-matery主题搭建 <br>
            &copy;{{@blog.title}} 版权所有，保留一切权利.
        </div>
    </div>
</footer>
