{{! 友情链接 }}
<div class="card-friend card">
    <div class="card-custom-title">
        <i class="fa fa-link fa-lg green-text text-darken-2"></i>&nbsp;
        <span class="card-title green-text text-darken-2">友情链接</span>
    </div>
    <div class="card-action friend-url">
        <ul>
            <li><a href="http://www.ghostchina.com/" target="_blank">Ghost中国</a></li>
            <li><a href="http://www.oschina.net/" target="_blank">开源中国</a></li>
            <li><a href="https://ghost.org/" target="_blank">Ghost Blog</a></li>
            <li><a href="http://git.oschina.net/" target="_blank">Git@OSC</a></li>
            <li><a href="http://www.csdn.net/" target="_blank">CSDN</a></li>
            <li><a href="http://materializecss.com/" target="_blank">Materialize</a></li>
            <li><a href="https://medium.com/" target="_blank">Medium</a></li>
            <li><a href="https://bitbucket.org/" target="_blank">Bitbucket</a></li>
            <li><a href="http://www.jfinal.com/" target="_blank">jFinal</a></li>
            <li><a href="http://segmentfault.com/" target="_blank">SegmentFault</a></li>
        </ul>
    </div>
</div>
