{{! 友情链接 }}
<div class="card-friend card">
    <div class="card-custom-title">
        <i class="fa fa-link fa-lg green-text text-darken-2"></i>&nbsp;
        <span class="card-title green-text text-darken-2">友情链接</span>
    </div>
    <div class="card-action friend-url">
        <ul>
            <li><a href="http://xferris.me/" target="_blank">大哥Ferris博客</a></li>
            <li><a href="http://wing3.cn/" target="_blank">学弟Swing博客</a></li>
            <li><a href="http://mxny.org" target="_blank">麦香师傅博客</a></li>
            <li><a href="http://www.secbox.cn/" target="_blank">安全盒子</a></li>
        </ul>
    </div>
</div>
