{{! 公告提示 }}
<div class="row">
    <div class="notice col s12 m12">
        <div class="card grey lighten-5">
            <div class="card-content">
                <!-- <i class="material-icons b-icon b-text-green">volume_up</i> -->
                <i class="fa fa-volume-up b-text-green fa-lg"></i>
                推荐使用Chrome、Firefox等现代浏览器浏览本站。珍爱生命，请远离IE！
            </div>
        </div>
    </div>
</div>
